 
h1{
    position: absolute;
    width: 1000px;
    height: 500px;
    left: 350px ;
    
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #354733;
    }

    label{
width: 48px;
height: 25px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 154.5%;
color: #8A9B6E;
flex: none;
order: 0;
flex-grow: 0;

    }
    